<section data-ng-controller="RentalsController" data-ng-init="findOne()">
    <span>Bruger: {{rental.user.name}}</span>
    <h2>Titel: {{rental.title}}</h2>
    <h2> Pris: {{rental.price}}</h2>
    <div data-ng-show="global.user._id == rental.user._id">
        <a class="btn" href="/#!/rentals/{{rental._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <a href="/#!/booking/create/{{rental._id}}">BOOK IT</a>
</section>
